<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <services>
      <configurator type="Kingmaddi.Foundation.FotoWareExtension.DI.RegisterContainer,Kingmaddi.Foundation.FotoWareExtension" />
    </services>
    <controlSources>
      <source mode="on" namespace="Kingmaddi.Foundation.FotoWareExtension.Fields" assembly="Kingmaddi.Foundation.FotoWareExtension" folder="/sitecore modules/Shell/FotoWareExtension" prefix="Kingmaddi" />
    </controlSources>
    <log4net>
      <appender name="KingmaddiFotoWareExtensionAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Foundation.FotoWareExtension.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
      <logger name="KingmaddiFotoWareExtensionLogger" additivity="false">
        <level value="INFO" />
        <appender-ref ref="KingmaddiFotoWareExtensionAppender" />
      </logger>
    </log4net>
    <clientscripts>
      <htmleditor>
        <script name="Foundation.FotoWareExtension.RTEScripts" src="/HtmlEditorScripts/FotoWare RichText Commands.js" language="JavaScript"/>
      </htmleditor>
    </clientscripts>
    <commands>
      <command name="fotowareimage:select" type="Kingmaddi.Foundation.FotoWareExtension.Commands.SelectImageImageFieldCommand,Kingmaddi.Foundation.FotoWareExtension"/>
    </commands>
    <fieldTypes>
      <fieldType name="FotoWare Image" type="Sitecore.Data.Fields.ImageField,Sitecore.Kernel" />
    </fieldTypes>
    <pipelines>
      <renderField>
        <processor patch:before="*[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']" type="Kingmaddi.Foundation.FotoWareExtension.Pipelines.GetFotoWareImageFieldValue, Kingmaddi.Foundation.FotoWareExtension" />
      </renderField>
    </pipelines>
  </sitecore>
</configuration>